@media screen and (max-width: 767px) {
  .filter__item {
    width: 50%;
  }
}
@media screen and (max-width: 540px) {
  .news__item-content,
  .filter__item {
    width: 100%;
  }
  .news__item-container {
    flex-direction: column;
  } 
  .news__item-img-col {
    width: 100%;
    max-width: none;
    margin-bottom: 10px;
  }
  .news__item-title {
    font-size: 18px;
    margin: 0 0 10px;
  }
  .news__item-author {
    margin: 10px 0 0;
  }
}