.error-msg {
    margin: 50px 0;
    text-align: center;
    font-size: 26px;
    color: #bbb;
  }
  .error-msg.warn {
    color: #f42323;
  }
  .error-msg.visible {
    display: block;
    animation: fadeIn 500ms forwards;
  }